@import "bootstrap/dist/css/bootstrap.min.css"
@import "includes/bootstrap-select.min.css"
@import "includes/datepicker.css"
@import "includes/overrides.styl"

bkgdcolor = #2481A3
ctrcolor = #eee

body
  background-color bkgdcolor

#guide
  background-color #3a7
  height 10px

#chartbox
  height 424px
  padding-bottom: 15px


#main-chart
  width 100%
  height 90%
  background-color #FFFFFF
  border-top-left-radius 6px
  border-top-right-radius 6px
  padding-right 20px

#chart-footer
  height 10%
  background-color #FFFFFF
  border-bottom-left-radius 6px
  border-bottom-right-radius 6px
  padding 0 35px

#chart-footer-left
  float left
  display inline-block

#chart-footer-right
  float right
  display inline-block

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
  border-radius: 3px;
}

#slotTime
  @extend .input-xs
  width 2em
  padding 2px
  text-align right

#dayStart
  @extend .input-xs
  width 3.5em
  padding 2px
  text-align right

.highcharts-container
  border-top-left-radius 6px
  border-top-right-radius 6px

.container
  width 960px
  background-color ctrcolor

.row-top
  padding-top 15px

.row-bottom
  padding-top 5px

// [class="row"]
//     border 1px dotted rgba(0, 0, 0, 0.5)


// [class^="col-"]
//     background-color rgba(255, 0, 0, 0.2)

.check-group
  padding: 5px

.fc-sm
  height 30px

.tablediv
  height 350px
  overflow-x hidden
  overflow-y scroll

