/**** bootstrap ****/

/* remove padding from cols inside row */

csize = 30px

.col-left
  padding-right 5px

.col-middle
  padding-left 5px
  padding-right 5px

.col-right
  padding-left 5px

.col-right .form-control
  padding 6px 5px
  text-align center

// .checkbox-inline
//   font-weight: 700

.control-label
  margin-bottom 2px

.dropdown-menu
  font-size 12px
  // max-width 160%
  // min-width 100%
  width: 200px;

.form-group
  margin-bottom 12px

.form-control, .btn, .btn-group
  font-size 12px
  height csize

.panel-default
  border-radius 6px

.panel-heading
  border-top-left-radius 6px
  border-top-right-radius 6px

.popover-title
    padding 2px 14px

select[multiple]
  height csize

/**** bootstrap select ****/

.bs-actionsbox, .bs-donebutton, .bs-searchbox
  font-size 12px
  line-height 1em
  height csize


/**** datepicker ****/

.datepicker //bootstrap-datepicker.css
  padding-left 8px
  cursor pointer

.datepicker-orient-left {
  left: auto !important;
  right: 15px !important; // specify the px of your content
}

/**** multiselect ****/

.multiselect-container label.checkbox
  margin 0

button.multiselect
  width 100%
  overflow hidden

