/**** bootstrap ****/

/* remove padding from cols inside row */
.col-left
  padding-right 5px

.col-middle
  padding-left 5px
  padding-right 5px

.col-right
  padding-left 5px

.col-right .form-control
  padding 6px 5px
  text-align center

// .checkbox-inline
//   font-weight: 700

.control-label
  margin-bottom 2px

.dropdown-menu


/**** datapicker ****/

.datepicker //bootstrap-datepicker.css
  padding-left 8px
  cursor pointer

/**** multiselect ****/

.multiselect-container label.checkbox
  margin 0

button.multiselect
  width 100%
  overflow hidden

